* {
    font-family: "Montserrat", sans-serif;
    transition: 200ms;
}

body {
    margin: 0;
    font-family: -apple-system, system-ui, "Poppins";

    background: #fff;
}

a {
    text-decoration: none;
}
